@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 196.1 48% 90%;
    --foreground: 196.1 2.4% 5%;
    --card: 196.1 24% 90%;
    --card-foreground: 196.1 2.4% 10%;
    --popover: 196.1 48% 95%;
    --popover-foreground: 196.1 97.4% 0%;
    --primary: 196.1 73.2% 19%;
    --primary-foreground: 0 0% 100%;
    --secondary: 196.1 19.6% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 234.1 19.6% 85%;
    --muted-foreground: 196.1 2.4% 35%;
    --accent: 234.1 19.6% 80%;
    --accent-foreground: 196.1 2.4% 10%;
    --destructive: 0 74% 30%;
    --destructive-foreground: 196.1 2.4% 90%;
    --border: 196.1 24.8% 50%;
    --input: 196.1 24.8% 18%;
    --ring: 196.1 88.7% 45.3%;
    --radius: 0.5rem;
    --chart-1: 196.9 53% 33%;
    --chart-2: 268.9 53% 33%;
    --chart-3: 340.9 53% 33%;
    --chart-4: 52.9 53% 33%;
    --chart-5: 124.9 53% 33%;
    --sidebar-background: 196, 48%, 86%;
    --sidebar-foreground: 196, 2%, 5%;
    --sidebar-primary: 196, 73%, 17%;
    --sidebar-primary-foreground: 0, 0%, 100%;
    --sidebar-accent: 234, 20%, 76%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 196, 25%, 48%;
    --sidebar-ring: 186, 98%, 45%;
  }

  .dark {
    --background: 196.1 29.2% 5%;
    --foreground: 196.1 2.4% 90%;
    --card: 196.1 24% 0%;
    --card-foreground: 196.1 2.4% 90%;
    --popover: 196.1 29.2% 5%;
    --popover-foreground: 196.1 2.4% 90%;
    --primary: 196.1 73.2% 19%;
    --primary-foreground: 0 0% 100%;
    --secondary: 196.1 19.6% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 234.1 19.6% 15%;
    --muted-foreground: 196.1 2.4% 60%;
    --accent: 234.1 19.6% 15%;
    --accent-foreground: 196.1 2.4% 90%;
    --destructive: 0 74% 30%;
    --destructive-foreground: 196.1 2.4% 90%;
    --border: 196.1 24.8% 18%;
    --input: 196.1 24.8% 18%;
    --ring: 196.1 88.7% 45.3%;
    --radius: 0.5rem;
    --chart-1: 196.9 53% 33%;
    --chart-2: 268.9 53% 33%;
    --chart-3: 340.9 53% 33%;
    --chart-4: 52.9 53% 33%;
    --chart-5: 124.9 53% 33%;
    --sidebar-background: 196, 29%, 7%;
    --sidebar-foreground: 196, 2%, 99%;
    --sidebar-primary: 196, 73%, 15%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 234, 20%, 13%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 196, 25%, 17%;
    --sidebar-ring: 186, 98%, 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.card-bg {
  @apply transition-colors duration-300 bg-[hsl(196.1,48%,90%)] hover:bg-[hsl(196.1,48%,85%)] 
         dark:bg-[hsl(196.1,29.2%,5%)] dark:hover:bg-[hsl(196.1,29.2%,10%)];
}
